@model ReviewSite.Models.Reviews

@{
    ViewBag.Title = "Details";
}

<div>  
    <div id="revDetailsHeader">
        <h2>Details</h2>
    </div> 
    <hr />
    <dl id="details" class="dl-horizontal col-md-6">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd> 


        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd>                  
            @Html.DisplayFor(model => model.PublishDate)           
        </dd>
    </dl>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
