@model IEnumerable<ReviewSite.Models.Reviews>

@{
    ViewBag.Title = "Reviews";
}
<div id="reviewHead">
    <h2>Reviews</h2>

    <p>
        @Html.ActionLink("Submit Travel Review", "Create")
    </p>
</div>

<div id="reviewTop">
    <b>
        @Html.DisplayNameFor(model => model.Author) :
        @Html.DisplayNameFor(model => model.Title)
    </b>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4" id="reviewBody">

            <p></p>
            <p></p>
            <p></p>
            @Html.DisplayFor(modelItem => item.Author) :
            @Html.DisplayFor(modelItem => item.Title)
            <p></p>
            <p></p>
            <p></p>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID })
            @Html.ActionLink("Details", "Details", new { id = item.ReviewID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
        </div>
    }

</div>

