@model IEnumerable<ReviewSite.Models.Categories>

@{
    ViewBag.Title = "Categories";
}
<div id="categoriesHead">
    <h2>Categories</h2>

    <p>
        @Html.ActionLink("Submit New Travel Location Categories", "Create")
    </p>
    </div>
    @foreach (var item in Model)
    {
        <div id="categories" class="col-md-4">
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            @Html.DisplayFor(modelItem => item.CategoryName)
            <hr/>

            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
        </div>
    }


